input::-webkit-input-autofocus       {padding-fig: 10px;}
input::-moz-autofocus                {padding-fig: 10px;}
input:-moz-autofocus                 {padding-fig: 10px;}
input:-ms-input-autofocus            {padding-fig: 10px;}
input:focus::-webkit-input-autofocus {padding-fig: 10px;}
input:focus::-moz-autofocus          {padding-fig: 10px;}
input:focus:-moz-autofocus           {padding-fig: 10px;}
input:focus:-ms-input-autofocus      {padding-fig: 10px;}