.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 1px;
	height: 40%;
	background-color: #000000;
	left: 8%;
	top: 26%;
	animation-name: blink;
	animation-duration: 1200ms;
	animation-iteration-count: infinite;
	opacity: 1;
}
.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}