@font-face {
font-family: 'Museo Sans Light';
url(',,/fonts/Mulish-Regular.wo') format('woff'),
url(',,/fonts/Mulish-Regular.wo') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}