@font-face {
font-family: 'Museo Sans Light';
url('/fonts/Mulish-Regular.woff') format('woff'),
url('/fonts/Mulish-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}