@font-face {
	font-family: 'Mulish-Regular'; 
	src: url(fonts/Mulish-Regular.woff);
	src: url(fonts/Mulish-Regular.woff2); 
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish-Bold'; 
	src: url(fonts/Mulish-Bold.woff);
	src: url(fonts/Mulish-Bold.woff2); 
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito-Regular'; 
	src: url(fonts/Nunito-Regular.woff);
	src: url(fonts/Nunito-Regular.woff2); 
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito-Bold'; 
	src: url(fonts/Nunito-Bold.woff);
	src: url(fonts/Nunito-Bold.woff2); 
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito-ExtraBold'; 
	src: url(fonts/Nunito-ExtraBold.woff);
	src: url(fonts/Nunito-ExtraBold.woff2); 
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}