@media (max-width: 1200px)
   .container
      max-width: 960px
   .slider
      width: 590px
   .swiper
      &-slide
         &__image
            width: 100%
            height: 100%
            object-fit: cover
   .card
      width: 230px
      height: 230px
   .packges
      &-wrapper
         grid-template-rows: repeat(2, 465px)
         grid-column-gap: 20px
         grid-row-gap: 20px
      &-lateral
         &__img
            width: 320px
            height: 100%
      &-card
         &__subtitle
            font-size: 16px
            margin-top: 3px
         &__text
            width: 249px
            font-size: 11px
      &-cell
         &__adress
            font-size: 10px
         &__user
            font-size: 10px
         &__home
            font-size: 10px
      &-pseudo
         font-size: 13px
      &-sale
         font-size: 23px
      &-vertical   
         &__subtitle
            font-size: 16px
      &-button
         font-size: 10px
         padding: 10px 25px
   .footer
      &-wrapper
         grid-template-columns: 279px 188px 244px 188px
         &-details
            width: 510px
      &__title
         font-size: 17px
         &--pl-6
            padding-left: 0
      &__ul
         &--pl-6
            padding-left: 0
      &__input
         flex-basis: 100%
      &__text
         flex-size: 13px
      &__item
         &--lh-2
            font-size: 13px
@media (max-width: 992px)
   .container, 
   .newsletter-wrapper
      max-width: 700px
   .logo
      width: 132px
   .navbar
      &-top
         padding-top: 29px
         padding-bottom: 30px
      &__search
         margin-left: 7%
      &-menu
         padding: 10px 0
         &__list
            &:first-child
               margin-left: 14px
            &:last-child
               margin-right: 14px
         &__link
            font-size: 12px  
   .search
      &__input
         margin-top: 1px
         width: 339px
         padding-left: 22px
      &__img
            margin-top: 4px
   .user
      &__avatar
         margin-top: 0px
      &__name
         margin-top: 4px
   .hotel 
      padding-top: 15px
      padding-bottom: 58px
      &-info
         &__rating
            margin-top: 5px
         &__offer
            margin-left: 14px
      &-description
         flex-basis: 70%
         &__space
            display: inline
      &-grid
         flex-direction: column
      &__slider
         margin-bottom: 30px
      &-swiper
         &__button
            top: 51%
            transform: translateY(-51%)
      &-right
         flex-direction: row
   .map
      width: 339px
      height: 210px
   .offer
      padding: 3px 9px 4px 8px
   .breadcrumb
      &-list
         padding: 19px 0
         &__item
            letter-spacing: -0.1px
   .rating
      &__counter 
         margin-left: 0
   .booking
      width: 340px
      height: 209px
      min-height: 0
      padding: 27px 21px 29px 23px
      &__pricetag
         margin-bottom: 1px
      &__heading
         line-height: 24px
      &__number
         line-height: 24px
      &__image-phone
         margin-top: 2px
      &__button
         min-height: 46px
   .slider
      margin-left: 0
      width: 100%
   .map
      &-cart
         width: 340px
   .subscribe
      &__input
         letter-spacing: -0.2px
      &__button
         margin-top: 1px
   .reviews
      &__title
         font-size: 30px
         line-height: 38px
         margin-bottom: 51px
      &-slider
         &__item
            max-width: 580px
            &::before, &::after
               display: none
         &__username
            margin: 9px 0 9px 4px
         &__date
            margin-left: 5px
         &__text
            line-height: 157%
            margin-left: 3px
            margin-right: -2px
         &__button
            top: 50%
            &--prev
               left: 0
            &--next
               right: 0
   .packges 
      &__title
         font-size: 30px
         margin-bottom: 55px
      &-wrapper
         grid-template-columns: 50% 50%
         grid-template-rows: repeat(3, 490px)
      &-lateral
         grid-area: 1 / 1 / 2 / 3
         &__img 
            width: 350px
         &__button
            bottom: 37px
      &-vertical
         &--card-1
            grid-area: 2 / 1 / 3 / 2
         &--card-2
            grid-area: 2 / 2 / 3 / 3
         &--card-3
            grid-area: 3 / 1 / 4 / 2
         &--card-4
            grid-area: 3 / 2 / 4 / 3
         &__text
            padding: 17px 20px 24px 26px
      &-card
         padding-bottom: 30px
         &__text 
            width: 265px
            font-size: 12px  
            margin-bottom: 50px
      &-cell
         &__adress
            font-size: 12px
         &__user
            font-size: 12px
         &__home
            font-size: 12px   
      &-pseudo
         font-size: 14px
      &-sale
         font-size: 24px    
      &-button
         font-size: 12px
         padding: 12px 28px
   .newsletter
      padding: 71px 0 73px 0
   .activities
      padding: 41px 0 49px 0
      &__title
         margin-top: 10px
      &-wrapper
         flex-wrap: wrap
      &__card
         margin-bottom: 20px
   .card
      width: 340px
      height: 255px
   .footer
      padding-top: 72px
      &-wrapper
         grid-template-columns: repeat(6, 1fr)
         grid-row-gap: 51px
      &__logo
         width: 96px
         grid-row: 1 / 2
         grid-column: span 1
      &__title
         &--inline
            margin: 15px 44px 0 67px
         &--pl-6
            padding-left: 0
      &__social
         &-network
            grid-row: 1 / 2
            grid-column: span 4
            align-self: center
         &-links
            margin-top: 17px
      &__categories
         grid-row: 2 / 3
         grid-column: span 2
         padding-left: 0px
      &__legal
         grid-column: span 2
         padding-left: 18px
      &__additional
         grid-column: span 2
         margin-left: -40px
         padding-left: 0
      &__contact
         &-details
            grid-column: span 5
            grid-row: 3
            margin-top: 9px
            margin-left: 0
         &-form
            grid-row: 4
            margin-left: 0
            margin-top: 6px
            grid-column: span 4 
      &__form
         width: 538px
      &__ul--pl-6
         padding-left: 0
      &__input
         padding: 0 14px
         flex-basis: 47%
      &-give
         padding-top: 54px
         justify-content: flex-start
      &-offer
         margin-top: 5px
         margin-left: 1px
@media (max-width: 768px)
   body
    padding-top: 78px  
   .container
      // max-width: 576px
      width: 92%
   .navbar
      &--mobile
         &_fixed
            position: fixed
            top: 0
            left: 0
            right: 0
            z-index: 99
      &__user, &__search
         &--mobile
            &_hidden
               display: none
            &_visible
               display: flex
      &__user
         flex-direction: column
         justify-content: center
         &-name
            margin: 0
            margin-top: 10px
      &-bottom
         display: none
         position: fixed
         top: 77px
         left: 0
         right: 0
         bottom: 0
         padding-top: 20px
         &--visible
            display: block
      &-menu
         &__list
            flex-direction: column
         &__item
            padding: 0
            margin-bottom: 20px
            &--mobile
               &_visible
                  display: block
   .menu
      &-button
         display: flex
         width: 16px
         height: 11px
         padding: 0
         align-items: center
         justify-content: space-between
         flex-direction: column
         background-color: $light
         border: none
         cursor: pointer
         &__line
            width: 16px
            height: 1px
            background-color: $text-colors
   .stars
      flex-basis: content
   .hotel
      &-name
         flex-basis: 100%
      &-wrapper
         justify-content: space-between
      &-info
         &__text
            width: 100%
         &__name
            margin-top: 10px
         &__rating
            display: none
         &__offer
            order: -1
            margin-left: 0
      &-right
         min-height: 450px
         flex-direction: column
   .slider
      height: 350px
   .booking
      width: 100%
   .map
      width: 100%
      &-cart
         width: 100%
   .packges
      &-wrapper
         grid-template-columns: 50% 50%
         grid-template-rows: 33% 33% 33%
         // grid-template-rows: repeat(3, 1fr)
         grid-column-gap: 10px
         grid-row-gap: 10px
      &-lateral
         grid-template-columns: 50% 50%
         grid-template-rows: 100%
         &__img
            width: 100%
            height: 100%
         &__button
            position: static
            display: flex
      &-card
         justify-items: center
         padding: 39px 19px 25px 30px
         &__subtitle
            font-size: 16px
            margin-top: 3px
         &__text
            width: 225px
            font-size: 10px
            margin-bottom: 35px
      &-cell
         &__adress
            font-size: 10px
         &__user
            font-size: 10px
         &__home
            font-size: 10px
      &-pseudo
         font-size: 11px
         width: 100px
      &-sale
         font-size: 21px
         line-height: 10px
         margin-top: 13px
         margin-bottom: 10px
         width: 100px
      &-vertical
         &__subtitle
            font-size: 16px
         &__button
            position: static
            margin-bottom: 3px
      &-button
         font-size: 9px
         padding: 8px 22px
   .indent
      display: flex
      justify-content: space-between
   .newsletter
      &-wrapper
         max-width: 576px
         width: 92%
         flex-direction: column  
         align-items: flex-start
   .reviews
      &-slider
         &__item
            padding: 0 30px 30px 30px
         &__button
            top: 32px
            &--prev
               margin-left: -65px
               left: 50%
               transform: translate(-50%, 0)
            &--next
               margin-right: -65px
               right: 50%
               transform: translate(50%, 0)
   .activities
      padding: 40px 0 60px 0
   .card
      width: 49%
      height: 255px
   .footer
      padding-top: 73px
      &-wrapper
         grid-template-columns: 26% 37% 30%
      &__categories
         grid-column: span 1
      &__additional
         margin: 0
         grid-column: span 1
      &__legal
         grid-column: span 1
         padding-left: 0
      &__social
         &-network
            grid-column: span 3
      &__contact
         &-details
            grid-column: span 3
         &-form
            grid-column: span 3
      &__item
         font-size: 13px
      &__title
         font-size: 13px
      &__input
         flex-basis: 100%
      &__form
         width: 100%
      &-offer
         margin: 0
@media (max-width: 576px)
   .container
      max-width: 95%
      .navbar
      &-top
         padding: 22px 0
         &__menu
            &-button
               margin-top: 7px
   .logo
      width: 99px
   .slider
      height: 300px
   .hotel
      &__slider
         margin-bottom: 20px
   .packges
      &__title 
         font-size: 26px
         margin-bottom: 50px
      &-lateral
         &__proposal
            font-size: 10px
            width: 80px
         &__button
            right: 15px
            bottom: 15px
      &-card
         // margin: 35px 16px 25px 15px
         &__subtitle
            font-size: 16px
            margin-top: 3px
            margin-bottom: 19px
         &__text
            width: 204px
            font-size: 9px
            margin-bottom: 25px
      &-cell
         margin-bottom: 20px
         &__adress
            font-size: 8px
            margin-bottom: 8px
         &__user
            font-size: 8px
            margin-bottom: 8px
         &__home
            font-size: 8px
            margin-bottom: 8px
            &--indent 
               margin-bottom: 20px
      &-pseudo
         font-size: 10px
      &-sale
         font-size: 18px
         line-height: 0
      &-vertical   
         &__subtitle
            font-size: 14px
            margin-bottom: 12px
         &__text 
            margin-top: 26px
            margin-left: 32px
         &__button
            right: 10px
            bottom: 20px
      &-button
         font-size: 7px
         margin-top: 6px
         padding: 4px 12px
   .newsletter
      padding: 76px 0 83px 0
      &__title
         margin-bottom: 37px
   .subscribe
      width: 100%
   .reviews
      &__title
         font-size: 26px
   .card
      width: 100%
   .footer
      &-wrapper
         grid-template-columns: 100%
         grid-row-gap: 25px
      &__logo
         grid-row: 1
         grid-column: 1
      &__social
         &-network
            display: flex
            flex-direction: column
            align-items: flex-start
            grid-row: 2
            grid-column: 1
      &__additional
         grid-row: 4
         grid-column: 1
      &__categories
         grid-row: 5
         grid-column:
      &__legal
         grid-row: 3
         grid-column: 1
      &__contact
         &-details
            grid-row: 6
            grid-column: 1
         &-form
            grid-row: 7
            grid-column: 1
      &__title
         &--inline
            margin: 15px 44px 0 0px
      &-offer
         margin: 0
      &-give
         display: flex
         flex-direction: column
         flex-wrap: wrap
         align-items: flex-start
      &-bank
         position: static
         margin-top: 10px
@media (min-width: 320px) and (max-width: 480px)
   .container
      max-width: 88%
   .navbar
      &-top
         padding-top: 22px
         padding-bottom: 29px
         &__menu
            &-button
               margin-top: 7px
               margin-right: 1px
      &-menu
         &__item
            margin: 0
            margin-bottom: 14px
         &__link
            line-height: 20px
      &-bottom
         top: 71px
      &__search
         margin: 0
         margin-bottom: 23px
      &__user
         margin-bottom: 13px
   .search
      &__input
         width: 245px
         margin-top: 0px
         padding-left: 23px
   .breadcrumb
      &-list
         &__item
            letter-spacing: 0px
   .hotel
      padding-top: 3px
      padding-bottom: 39px
      &-info
         margin-bottom: 37px
         &__offer
            margin-left: 2px
            letter-spacing: -0.1px
         &__name
            margin-top: 11px
      &-description
         flex-basis: 100%
         line-height: 15px
         &__space
            display: none
      &-swiper
         width: 99%
      &-right
         min-height: 405px
   .offer
      padding: 3px 10px 4px 9px
   .stars
      margin-right: 19px
      margin-top: -2px
   .slider
      height: 179px
   .booking
      margin-left: 2px
      padding: 28px 21px 22px 22px
      width: 99%
      height: 210px
      &__pricetag
         line-height: 31px
         margin-bottom: 2px
      &__description
         margin-left: 8px
      &__num
         margin-right: 4px
      &__call-center
         margin-bottom: 18px
   .map
      &-cart
         height: 173px
   .packges
      &__title 
         font-size: 18px
         margin-bottom: 30px
      &-wrapper
         grid-template-columns: 1fr
         grid-template-rows: repeat(5, 0fr)
         grid-column-gap: 0px
         grid-row-gap: 15px
      &-lateral
         grid-template-columns: repeat(1, 1fr)
         grid-area: 1 / 1 / 2 / 2
         &__img
            display: none
         &__proposal
            font-size: 10px
            width: 77px
            height: 25px
            padding: 6px 7px 6px 10px
      &-card 
         margin: 9% 4% 9% 29%
      &-vertical
         &--card-1
            grid-area: 2 / 1 / 3 / 2
         &--card-2
            grid-area: 3 / 1 / 4 / 2
         &--card-3
            grid-area: 4 / 1 / 5 / 2
         &--card-4
            grid-area: 5 / 1 / 6 / 2
         &__proposal
            top: 17px
         &__text 
            margin-top: 13px
            margin-left: 25px
         &__img
            width: 100%
      &-button
         font-size: 10px
         padding: 8px 16px
   .newsletter
      padding: 59px 0 84px 0
      &-wrapper
         width: 88%
      &-title
         font-size: 20px
         line-height: 25px
         margin-bottom: 33px
         letter-spacing: -0.1px
         &__strong
            font-size: 30px
            line-height: 48px
            letter-spacing: -0.2px
   .subscribe
      &__input
         padding-left: 20px
   .reviews
      padding: 39px 0 70px 0
      &__title
         font-size: 18px
         line-height: 23px
         width: 210px
         margin: auto
         margin-bottom: 42px
      &-slider
         &__item
            padding: 0 30px 24px 30px
         &__avatar
            margin-right: 6px
         &__username
            margin: 10px 2px 9px 0px
         &__date
            margin-left: 0
            margin-right: 2px
            margin-bottom: 4px
         &__rating
            margin-left: 0px
         &__text
            margin-left: 2px
            margin-right: 0px
            text-align: left
            line-height: 159%
         &__button
            top: 30px
            &--prev
               left: 40%
            &--next
               right: 42%
   .activities
      padding: 6px 0 41px 0
      &__title
         font-size: 18px
         margin-bottom: 32px
      &__card
         margin-bottom: 20px
         &--space-1
            order: 0
         &--space-2
            order: 2
         &--space-3
            order: 1
            margin-bottom: 28px
         &--space-4
            order: 3
   .footer
      padding-top: 68px
      &__logo
         width: 96px
      &__social-links 
         margin-top: 22px
         margin-left: 3px
      &__contact
         &-details
            margin-top: 15px
         &-form
            margin-top: 33px
      &__title
         font-size: 18px
         &--pl-6
            padding-top: 4px
         &--pt-1
            padding-top: 4px
         &--pt-2
            padding-top: 6px
         &--mb-2
            margin-bottom: 14px
      &__item
         font-size: 14px
         &--lh-2
            line-height: 155%
         &--mb-2
            margin-bottom: 22px
         &--mb-1
            margin-bottom: 23px
      &__text
         margin-bottom: 19px
      &__ul
         &--pl-1
            padding-left: 4px
      &__icon
         &--mt-1
            margin-top: 1px
         &-wrapper 
            min-width: 27px
            margin-top: 4px
            &--mt
               margin-top: 0
      &__link
         &--mr-1
            width: 86px
            display: inline-block
      &__input
         font-size: 13px
         letter-spacing: -0.4px
         padding: 0 22px
         padding-top: 1px
      &__message
         margin-bottom: 16px
      &__button
         order: 1
         &-block
            justify-content: flex-start
            align-items: flex-start
            flex-wrap: wrap
            flex-direction: column
      &__info
         order: 0
         margin-bottom: 14px
      &-give
         padding-top: 26px
      &-offer
         &__item 
            padding-right: 9px

            



